.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}

button {
  width: 60vw;
  height: 10vh;
  font-size: x-large;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .committees {
    width: 80vw;
  }
}