.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
}

.profile, main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  margin-bottom: 5vh;
}

button {
  width: 20vw;
  height: 5vh;
  font-size: x-large;
  margin-top: 25px;
}

.links {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
}

img {
  margin-bottom: 5vh;
}

.committees {
  width: 60vw;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .committees {
    width: 80vw;
  }

  .links {
    margin-bottom: 35px;
    justify-content: space-evenly;
    margin-top: 5vh;
  }
}