.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.buttons {
  width: 60vw;
  display: flex;
  justify-content: space-around;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.App-link {
  color: #1138e7;
}

.flippy-container {
  width: 60vw; 
  height: 90vh;
  margin-top: 5vh;
  background-color: #282c34;
  color: white;
} 

@media screen and (max-width: 700px) {
  img {
    width: 80%;
  }

  .flippy-container {
    width: 95vw; 
    height: 80vh;
    margin-top: 5vh;
  } 

  .App-header {
    justify-content: center;
  }
}
