.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.buttons {
  width: 60vw;
  display: flex;
  justify-content: space-around;
}

.App-header {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

li {
  margin-top: 1vh;
  display: flex;
}

.flippy-container {
  width: 60vw; 
  height: 90vh;
  margin-top: 5vh;
  background-color: white;
  color: white;
} 

@media screen and (orientation: portrait) and (max-width: 700px) {
  body {
    text-align: center;
    height: 100vh;
    width: 100vw;
  }

  .logo, img {
    width: 73vw;
    height: 50vh;
  }

  .logo {
    width: 80vw;
    height: 50vh;
  }

  .flippy-container {
    width: 95vw; 
    height: 80vh;
    margin-top: 5vh;
  } 

  .App-header {
    justify-content: center;
  }
}

@media screen and (orientation: landscape) and (max-width: 800px) {
  img {
    width: 28vw;
  }

  /* .flippy-container {
    overflow-y: scroll;
  }  */

  .profile {
    margin-top: -10vh;
  }

  li {
    margin-top: 2vh;
    display: flex;
  }

  h2 {
    margin-left: 44vw;
  }

  .committees {
    margin-top: -14vh;
  }

}
